body {
    margin: 20px;
    /*
    Challenge:
    Find a web safe font you like, and add it 
    to your card.
    */
    font-family: Verdana;
}

.avatar {
    width: 180px;
    border-radius: 20px;
    
}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #d0d1ff;
    color: #012a4a;
    border-radius: 20px;
    flex-direction:row-reverse;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    transform-origin: bottom;    
    box-shadow: 5px 5px 10px black;
    text-shadow: 3px 3px 2px white ;
    /*
    Challenge:
    Find a color palette you like on Coolors.co
    and use it in your business card.
     */
}

.bounce:hover {
    animation-name: bounce;
    animation-timing-function: ease; 
}
@keyframes bounce {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(-50px); }
  100% { transform: translateY(0); }
}

.border-blue {
    border: 1px dotted blue;
}

/*
Stretch goals:
Find other ways you can personalize 
the design of your business card, e.g.:
- change the border(s)
- add border radius
- shuffle the layout
- shadows        🤯
- hover effects  🤯🤯
- animations     🤯🤯🤯
*/

